.selection {
  margin-left: 20px;
  margin-top: 20px;
  border: 1px solid white;
  border-radius: 10px;
}

#sub-button {
  border: 1px solid white;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
}

#sub-button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
